<div class="fields">
  <%= f.input :image, :as => :file %>
  <%= f.input :remote_image_url, :label => "Remote URL" %>
  <%= f.input :profile, :as => :check_boxes %>
  
  <%= link_to_remove_fields "Remove", f %>
</div>
