<div class="span8">
<%= simple_form_for(Child.new, :html => {:class => "form_horizontal"}) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
  <%= hidden_field_tag :invitee, invitee %>
  <div class="pull-right">
    <%= f.button :submit, :class=> "primary" %>
  </div>
<% end %>
</div>