<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <!-- Bubboli Email Confirmation Template -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="*|MC:SUBJECT|*">
        
        <title>*|MC:SUBJECT|*</title>
    </head>

    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    	<center>
        
        <!-- // Overall \\ -->
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color:#FAFAFA; height:100% !important; margin:0; padding:0; width:100% !important; -webkit-text-size-adjust: none;">
          <tr>
            <td align="center" valign="top">
              
    
              <!-- // Body \\ -->      
              <table border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #DDDDDD; background-color:#FDFDFD;">
              	<tr>
                  <td align="center" valign="top">
              
                    <!-- // Begin Template Header \\ -->
                      <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#FFFFFF; border-bottom:0;">
                        <tr>
                          <td style="/*@editable*/ color:#202020; font-family:Arial; font-size:34px; font-weight:bold; line-height:100%; padding:0; text-align:center; vertical-align:middle;">
                            <!-- // Begin Module: Standard Header Image \\ -->
                          	<div style="text-align: left">
                              <a href="http://www.bubboli.com" target="_blank">
                                <img alt="Bubboli" src="http://www.bubboli.com//assets/BubboliLogo-f8e1fee0c144b6f87029a3b6a6a2954d.png" style="max-width:600px;" style="max-width:600px !important;" mc:label="header_image" mc:edit="header_image" mc:allowdesigner="" mc:allowtext="">
                              </a>
                          	</div>
                          	<!-- // End Module: Standard Header Image \\ -->
                          </td>
                                      
                        </tr>
                      </table>
                    <!-- // End Template Header \\ -->
                  </td>  
                </tr>
                
                <tr>
                  <td>    
                    <!-- // Begin Template Body \\ -->
                      <table border="0" cellpadding="8" cellspacing="0" width="100%">
                        <tr>
                          <td valign="top" style="border-collapse: collapse">
                          <div style="color:#505050; font-family: Arial; font-size: 14px; line-height: 100%; padding: 0; text-align: left;">
                            <!-- // Begin Module: Standard Welcome \\ -->
                          	  <br>
                          	  <tr>
                          	    <td style="color:#707070; font-size: 15px; line-height:150%; font-style: italic;"><h2>Welcome <%= @user.first_name %>!</h2></td>  
                          	  </tr>
                          	  
                          	  <tr>
                            	  <td style="color:#707070; font-size: 14px; line-height:150%;">We are so thrilled you joined the Bubboli community and are excited to help you find 
                            	    the perfect birthday present for the bubs in your life!</td>
                              </tr>  
                              
                              <tr>
                                <td style="color:#707070; font-size: 14px; line-height:150%;">To get the most out of Bubboli, please add bubs to the <a href="<%= user_path(@user) %>"> list of  
                                  kids you want to follow</a> and fill out your gift preference for each bub.  That way we can send you a personalized list of gift recommendations that is both awesome and a 
                                  reflection of you! </td>
                              </tr>

                              <tr>
                                <td style="color:#707070; font-size: 14px; line-height:150%;">We are still a new company and are just learning to take our first steps so if there 
                                  is anything you think we can do better, have a gift you would like to share with us or just to say "hi", please please please drop <a href="mailto:contact@bubboli.com">us </a>
                                  or <a href="mailto:ming@bubboli.com">me </a>a note!  
                                  We love hearing from friends! </td>
                              </tr>
                              
                          	<!-- // End Module: Standard Welcome \\ -->
                          	
                          </div>
                          </td>
                        </tr>
                      </table>
                      
                      
                      <br>
                      <table border="0" cellpadding="8" cellspacing="0" width="100%">
                        <tr>
                          
                          <!-- // Begin Module: Signature \\ -->
                          <td>  
                            <div style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left">
                              <table border="0" cellpadding="8" cellspacing="0" width="100%">

                                <tr>
                                  <td style="color:#707070; font-size: 15px; line-height:150%;">
                                    We look forward to serving you,
                                  </td>
                                </tr>
                                
                                <tr>
                                  <td style="color: #707070; font-family:Arial; font-size: 12px; line-height: 125%; text-align: left">
                                    Ming and your friends at Bubboli<br>
                                    @bubboli<br><br>
                                  </td>
                                </tr>

                                <tr>
                                  <td colspan="2" valign="middle" style="border-collapse: collapse; background-color: #FAFAFA; border: 0; ">
                                    <div style="color: #707070; font-family: Arial; font-size: 12px; line-height: 125%; text-align: center">
                                      <span valign="middle" style="color: #53868B; font-weight: normal; font-size: 15px;">LET'S BE FRIENDS</span>
                                      &nbsp; &nbsp; &nbsp;
                                      <a href="http://www.facebook.com/bubboli" style="color: #53868B; font-weight: normal; text-decoration: none" target="_blank">
                                        <img align="none" alt="facebook" height="28" width="28" src="http://www.bubboli.com//assets/facebook-1b2ef8ce990d2d5128b991439c823ff2.jpg" style="width: 28px; min-height: 28px; border: 0; 
                                        line-height: 100%; outline: none; text-decoration: none; display: inline"></a>
                                        &nbsp; &nbsp; &nbsp;
                                      <a href="http://www.twitter.com/bubboli" style="color: #53868B; font-weight: normal; text-decoration: none" target="_blank">
                                        <img align="none" alt="twitter" height="28" width="28" src="http://www.bubboli.com//assets/twitter-8e83259a680f80ec6cad0523566058bc.jpg" style="width: 28px; min-height: 28px; border: 0; 
                                        line-height: 100%; outline: none; text-decoration: none; display: inline"></a>
                                        &nbsp; &nbsp; &nbsp;
                                      <a href="http://www.pinterest.com/bubboli" style="color: #53868B; font-weight: normal; text-decoration: none" target="_blank">
                                        <img align="none" alt="pinterest" height="28" width="28" src="http://www.bubboli.com//assets/pinterest-75c7580fa4d94516aa6f4b0f1b5ea77b.jpg" style="width: 28px; min-height: 28px; border: 0; 
                                        line-height: 100%; outline: none; text-decoration: none; display: inline"></a>
                                        &nbsp; &nbsp; &nbsp;
                                        <span style="color: #53868B; font-weight: normal; font-size: 15px;">STAY CONNECTED</span>
                                    </div>  
                                  </td>  
                                </tr>
                                
                                
                              </table>
                            </div>  
                            
                            <br>  
                            <div style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left">  
                              <table>
                                <tr>
                                  <br>
                                  <td style="color:#63CECA; font-size: 23px; line-height:150%; font-family: 'GiddyupStd'">"Kids already have the best job in the world, to play. It's full time work and the way they play shapes 
                                  the way they grow. The toy box is the child's first tool box. Toys are meant to inspire kids to draw, build, explore, 
                                  tell stories, play games, and ultimately save the day."<br>
                                  <span style="color: #707070; font-family: 'LatoRegular'; font-size: 12px;">  - Benjamin Barlowe, Inventor and Science Digest, 1959.</span>
                                  </td>      
                                </tr>
                              </table>
                                
                            </div>
                          </td>
                          <!-- // End Module: Signature \\ -->
                          
                        </tr>
                      </table>
                                                    
                            
                           
                          </td>
                        </tr>  
                        
                      </table>      
                    <!-- // End Template Body \\ -->

                  </td>
                </tr>    
              </table>
            </td>
          </tr>
        </table>      
      </center>
    </body>

</html>