<% @page_title = "Edit Comment Status" %>

<div class="container">
  
  <div class="span4 offset4">
  <h4>Edit Comment Status</h4>
  </br>

  <%= simple_form_for @comment do |f| %>

    <%= f.input :status, :as => :select, :collection => ["Approve", "Spam"] %>
    <%= f.button :submit, 'Save', :class => "primary" %>
  
  <% end %>
  </div>
  
</div>