<% @page_title = "Edit Comment Status" %>

<div class="container">
  
  <h4>Edit Comment Status</h4>

  <%= semantic_form_for @comment do |f| %>
    <%= f.inputs do %>

      <%= f.input :status, :as => :select, :collection => ["Approve", "Spam"] %>
    
    <% end %>
  
  
  <div class="pull-right">
  <%= f.commit_button :button_html => {:class => "primary"}, :label => "Save" %>
  </div>
  
  <% end %>
  
</div>