<% @page_title = "Manage Gift Categories" %>

<div class="container">
  
  <div class="span4 offset4">
  <h4>Manage Gift Categories</h4>
  <br>

  <%= simple_form_for @gift_category do |f| %>

      <%= render(:partial => 'shared/manage', :locals => {:f => f}) %>
    
  <div class="btn primary white-link"><%= link_to "Cancel", list_gift_category_path %></div>
  <%= f.button :submit, 'Save', :class => "primary" %>
  </div>
  
  <% end %>
  </div>
  
</div>
