<div class="container">

<%= simple_form_for(@gift_accession) do |f| %>
<%= f.association :gift, :collection => @gifts, :include_blank => false, :input_html => {:rel => 'autocomplete', :data_default => @gift} %>
  <%= f.submit %>
<% end %>

</div>