<%= image_tag(r.child.profile_picture.image_url(:profile_pic)) if r.child.profile_picture %>
<strong><%= link_to r.child.first_name, relationship_path(r) %></strong><br>
<span style="color: #999999; font-size: 12px">Birthday: <%= r.child.birth_date.strftime("%b. %d")%></span><br>
