<%= link_to "<<< Back To My Profile", user_path(current_user) %> <br><br>

<span style="font-family: MountainsofChristmas; font-size: 18px; color: #FF6F6A">All Kids I am Following</span>
<hr/>


<div class="row">
  <ul class="child-list">
    <% @following.each do |r| %>
    <li class="children-following child-list block">
      <%= render(:partial => "relationship", :locals => {:r => r}) %>
    </li>  
    <% end %>
  </ul>
</div>