<%= link_to "<<< Back To My Profile", user_path(current_user) %> <br><br>

<span style="font-family: MountainsofChristmas; font-size: 18px; color: #FF6F6A">My Kids Followers</span>
<hr/>


<div class="row">
  <ul class="child-list">
    <% @followers.each do |r| %>
    <li class="children-following child-list block">
      <strong><%= r.first_name %></strong><br>
    </li>  
    <% end %>
  </ul>
</div>