
    
    
    <div class="span9">
    <span style="font-family: MountainsofChristmas; font-size: 18px; color: #FF6F6A">Upcoming Birthdays</span>
    <hr/>
    
    <% @relationships.each do |kf| %>    
    <%= kf.child.first_name if (-31..0).include?(kf.child.birthday) %>
    <% end %>
        
    </br>
    </br>
    </br>
    </br>
    
    <span style="font-family: MountainsofChristmas; font-size: 18px; color: #FF6F6A">Children I am Following</span>
    <%= link_to "All Kids I AM Following", '#' %> | <%= link_to "Add A New Child", search_child_path %>
    <hr/>
    <% @relationships.each do |kf| %>
    <%= kf.child.first_name %>
    <% end %>
    
    
    </div>
    

