<%= @sender.first_name %> wants to be reminded of <%= @child.first_name %>'s birthday.
===============================================

Help <%= @sender.first_name %> and others who want to shower your bubbie with love and gifts by joining 
the Bubboli family! By joining, you will be able to:

1. Keep track of the gifts purchased for your bubbie to avoid duplicate gifting
2. Give guidance on the gifts your bubbie would love...[coming soon]
3. And of course, so you can start following other bubbies in your life!

<a href="http:www.bubboli.com/users/new" target="_blank">YES, SIGN ME UP</a>   

Let us introduce ourself...

What is Bubboli?
We are a birthday reminder service for all the special bubbies in your life. Before each bubbies' birthday, 
we send you a curated list of recommended gifts based on your preferences so you will never be late with 
another present again

Why is Bubboli awesome?
Because we know you've got a lot going on and we want to help take some of the weight off by doing all the 
heavy lifting research so you are only presented with the best gifts on the market based on your preferences

How does it work?
Sign up for our service, tell us your gifting preference for each bubbie, and leave the rest to us. It's that easy.


Copyright © 2013 Bubboli, All rights reserved.

Our mailing address is:
Bubboli
55 W 26 Street
New York, NY 10010