<% @page_title = "Manage Gift Price Ranges" %>

<div class="container">
  
  <div class="span4 offset4">
  <h4>Manage Gift Price ranges</h4>
  </br>

  <%= simple_form_for @gift_price_range do |f| %>

      <div class="row">
        <div class="span8">
          <%= f.input :name %>
        </div>
      </div>
    
  <div class="btn primary white-link"><%= link_to "Cancel", list_gift_price_range_path %></div>
  <%= f.button :submit, 'Save', :class => "primary" %>
  
  <% end %>
  </div>
  
</div>