<p class="mynewfont">Search Criterias</p>
<%= simple_form_for @search, :url => blog_index_path do |f| %>
    <%= f.input :title_or_content_contains, :label => "Keyword Search", :required => false %>
    <%= f.input :blog_categorizations_blog_category_id_equals, :as => :select, :collection =>  BlogCategory.all, :label => "Category", :required => false %>          
    <%= f.button :submit, 'Search', :class => "primary" %>
<% end %>