<% @page_title = "Manage Blog Categories" %>

<div class="container">

  <div class="span4 offset4">
  <h4>Manage Blog Categories</h4>
  <br>

  <%= simple_form_for @blog_category do |f| %>

      <%= render(:partial => 'shared/manage', :locals => {:f => f}) %>
  
  <div class="btn primary white-link"><%= link_to "Cancel", list_blog_category_path %></div>
  <%= f.button :submit, 'Save', :class => "primary" %>
  
  <% end %>
  </div>
  
</div>
