<div class="row">
  <div class ="span5">
  <div id ="image" >
    <%= image_tag(@gift.gift_images.first.image_url(:large_pic)) %>
  </div>
  </div>

  <div class="span4">
  <div class="thumbs">
    <% @images.each do |image| %>          
        <a href="javascript:void(0)" rel="<%= image.image_url(:large_pic) %>" class="image">
          <%= image_tag(image.image_url(:sm_thumb_pic)) if image.image? %>
        </a>
    <% end %>
  </div>  
  </div>
</div>