<div>

  <ol>
    <li>
      <strong>How do you pronounce Bubboli?</strong>
      <p>It’s pronounced just like the word “bubbly” because we know you get a little bubbly talking about the little bubbies.</p>
    </li>

    <li>
      <strong>What are bubs and bubbies?</strong>
      <p>An affectionate term for babies / kids. We’ve heard this term used in Australia and think the term is almost as adorable as the bubbies themselves!</p>
    </li>

    <li>
      <strong>Who are you?</strong>
      <p>We are godmothers and godfathers, aunties and uncles, 
      friends and colleagues who can’t help but get a little bubbly inside when we think about the children in
      our lives. These little ones came into our lives, left cute little footprints on our hearts and made us 
      love them with just one "koo".  We’ve been known to search every nook and cranny in order to find the 
      best gifts on the market to spoil them <em>just</em> a little.
      </p>
    </li>
    
    <li>
      <strong>Why are there so few gifts on the site?</strong>
      <p>That's an excellent question. Because we only endorse the best products on the market, we have to be very selective with what we
      show on the site. However, we are constantly reviewing more toys and are constantly adding and changing the list of recommended gifts.</p>
    </li>

    <li>
      <strong>How long have you been around?</strong>
      <p>
      Our company is still a baby, so please bear with us as we learn to crawl and take our 
      first steps. We have a lot of great things planned for the months ahead and would love for you join us on 
      our journey. Help us make Bubboli better or just drop us a note to say hi at <%= mail_to("contact@bubboli.com") %></p>
    </li>

    <li>
      <strong>How do you choose your gifts?</strong>
      <p>Your bubs are important to you so we know you only want the best for them.  That is why we have a very <%= link_to "strict criteria", about_path(:anchor => 'gift_criterion') %> 
        for selecting the toys we recommend.  We will never recommend something we don't stand behind 100%.</p>
    </li>

    <li>
      <strong>How do you make recommendations for me?</strong>
      <p>Gifting is an extension of your personal style and your relationship with the recipient. The gifts we recommend for you and 
        your bubbie is a direct reflection of your individual preferences and the very special relationship you have with them.</p>
    </li>

    <li>
      <strong>How is Bubboli different from a gift registry?</strong>
      <p>Bubboli gift recommendations are completely initiated by the gifter. Gifters come to the site to receive recommendations for 
        the kids in their lives. Bubboli helps the gifter choose a gift based on their specific preferences for each child so the gifts 
        are a reflection of the gifter as well as the child.<br><br> 

      Additionally, the gifter can see the recent list of toys the bubbie received from other gifters and a list of recently 
      purchased toys by the parents throughout the year so you can get an idea of what they are interested in and avoid duplicate gifts.<br><br> 

      Giving and receiving birthday gifts are fun and exciting and we’d like to keep that element of surprise for the child by not letting
      them dictate the gifts they receive.</p>
    </li>

    <li>
      <strong>Why does the “Buy Me” link take me to a different site?</strong>
      <p>Bubboli does not warehouse any of the gifts we recommend. We pride ourselves in finding fun and unique gifts that meet our strict criteria.  We believe this gives us uninhibited
        freedom to choose only the best gifts eliminating any bias towards promoting what we already have in inventory.<br></p>
    </li>

    <li>
      <strong>Why should I use Bubboli?</strong>
      <p>Life is demanding and we know whether you're an aunt, uncle, 
      cousin, friend or just a big kid at heart, sometimes you just don't have the time or don't know where to 
      start looking for the perfect gift. That is where we come in. We do all the research and only present our
      favorite products on our site. <span style="color: #FF6F6A"><em>Our ultimate goal is to make your life easier</em></span> and this is just the beginning.
      Let us do the heavy lifting so you can spend more time with the ones that matter most.</span></p>
    </li>

  </ol>
  
</div>