<div class="bubboli-quote">
  <p style="font-family: 'GiddyupStd'">"Kids already have the best job in the world, to play. It's full time work and the way they play shapes 
  the way they grow. The toy box is the child's first tool box. Toys are meant to inspire kids to draw, build, explore, 
  tell stories, play games, and ultimately save the day."
  <small style="font-family: 'LatoRegular'">- Benjamin Barlowe, Inventor and Science Digest, 1959.</small>
  </p>
</div>

<p>Most of the gifts on our site at the moment are toys.  We choose our these toys based on research and recommendations by 
  our community.  We value the relationship we build with our users and will never recommend something that we don’t absolutely 
  believe in.</p>  

<p>Playtime and toys are an important facilitator of practicing and master new mental, social, emotional, and physical skills.  
  That is why we aim to help you find toys that open up a child’s imagination (possibilities) so they can explore who they are, 
  learn how the world works, try new things, and build the confidence they need to carry them through life.</p> 

<p>We are also aware that a gift is an expression of who you are as a gifter so we choose gifts that combine unique playtime 
  experience for them but also cater to the wide range of interests, personalities and philosophies of our gifters.  <em>Think of 
  it as a way of leaving little impressions on our little bubbies the way they left big impressions on us.</em>   </p>
  
  <br>
  
<strong style="font-size: 20px">Our Toy Selection Criterion</strong><br>

<table class="table">
  <tbody>
  <tr>
    <td>
      Quality
    </td>
    <td>
      <ul class="inline">
        <li>We know you will never compromise on quality for your kids and neither will we.  We select toys from reputable brands 
          you can trust</li><br>
        <li>Toys can be very personal items for kids and carry a great deal of sentimental value, so we want to make sure these toys
          can withstand the test of time so you can store it as keepsake of pass them onto their kids</li>
      </ul>
    </td>
  </tr>
  
  <tr>
    <td>
      Innovation and Creativity
    </td>
    <td>
      <ul class="inline">
        <li>We seek to engage children to the world of play by introducing products that are fresh, creative, and unique</li><br>
        <li>There is no better way to inspire innovation and creativity than with toys that echo the same mantra</li><br>
        <li>We especially love classic toys with a new modern twist</li>
      </ul>  
    </td>
  </tr>

  <tr>
    <td>
      Play Value
    </td>
    <td>
      <ul class="inline">
        <li>Playtime is where serious developmental processes take place.  We choose toys that ignite imagination, teach new skills, 
          and develop the confidence they need to carry them through life</li><br>
        <li>Look for toys that enrich the family bonding experience </li>
      </ul>  
    </td>
  </tr>
  
  <tr>
    <td>
      Fun
    </td>
    <td>
      <ul class="inline">
        <li>What good is a toy if it’s not fun?  We select toys that provide for fun playtime experiences but everlasting childhood experiences</li>
      </ul>
    </td>
  </tr>
  
  </tbody>
</table>