<div class="container">
    <div class="row">
      <div class="span12">
        <div class="section-header" id="our_mission">
          <div class="section-header-text">
            <p>THE BUBBOLI<br> 
            MISSION</p>
          </div>    
        </div>
      
      <%= render partial: "mission" %>
      </div>
    </div>
    
    <br>
    <br>
    <br>
    
    <div class="row">
      <div class="span12">
        <div class="section-header" id="gift_criterion">
          <div class="section-header-text">
            <p>GIFT<br> 
            CRITERION</p>
          </div>    
        </div>
      
      <%= render partial: "gift_criteria"%>
      </div>
    </div>

    <br>
    <br>
    <br>
    
    <div class="row">
      <div class="span12">
        <div class="section-header" id="faq">
          <div class="section-header-text">
            <p>FAQ</p>
          </div>    
        </div>
      <%= render partial: "faq"%>
      </div>
    </div>

</div>