<% content_for :head do %>
  <meta property="og:site_name" content="www.bubboli.com" />
  <meta property="og:title" content="Bubboli - About Us" />
  <meta property="og:url" content="www.bubboli.com/about" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Life is demanding and we know whether you're an aunt, uncle, cousin, 
  friend or just a big kid at heart, sometimes you just don't have the time or don't know where to start looking
  for the perfect gift / toy. That is where we come in. We do all the research and only present our favorite products 
  on our site. Our ultimate goal is to make your life easier and this is just the beginning. Let us do the heavy 
  lifting so you can spend more time with the ones that matter most."/>
<% end %>

<% @page_title = "Bubboli - about Bubboli" %>
<div class="container">
    <div class="row">
      <div class="span12">
        <div class="section-header" id="our_mission">
          <div class="section-header-text">
            <p>THE BUBBOLI<br> 
            MISSION</p>
          </div>    
        </div>
      
      <%= render partial: "mission" %>
      </div>
    </div>
    
    <br>
    <br>
    <br>
    
    <div class="row">
      <div class="span12">
        <div class="section-header" id="gift_criterion">
          <div class="section-header-text">
            <p>GIFT<br> 
            CRITERION</p>
          </div>    
        </div>
      
      <%= render partial: "gift_criteria"%>
      </div>
    </div>

    <br>
    <br>
    <br>
    
    <div class="row">
      <div class="span12">
        <div class="section-header" id="brands_we_love">
          <div class="section-header-text">
            <p>BRANDS WE<br> 
            LOVE</p>
          </div>    
        </div>
      
      <%= render partial: "brands"%>
      </div>
    </div>

    <br>
    <br>
    <br>
    
    <div class="row">
      <div class="span12">
        <div class="section-header" id="faq">
          <div class="section-header-text">
            <p>FAQ</p>
          </div>    
        </div>
      <%= render partial: "faq"%>
      </div>
    </div>

</div>