<div class="container">
    <div class="row index-background">
      <div class="row" style="padding-left: 40px; text-align: center">
        <p style="font-size: 30px; text-align: center; ">BE PREPARED FOR HUGS AND KISSES!</p>
        <br>
      </div>

        <p style="font-size: 17px; text-align: center">Bubboli helps you keep track of
        <span style="font-size: 17px; color: #FF9B97">birthdays and curated gift recommendations</span>
        for the special bubbies in your life</span></p>
        <br>
        
        <div style="text-align: center"><iframe width="560" height="315" src="http://www.youtube.com/embed/a7-K1rfFtE8" frameborder="0" allowfullscreen></iframe></div>
      
    </div>

    <ul>
      <li>Never be late with a birthday present</li>
      <li>Personalized gifts based on your preferences</li>
      <li>Curated gifts from our community of parents, teachers, child development specialists, and kids themselves</li>
    </ul>
    
    <br>
    <%= link_to "Sign Up Now For Free", new_user_path, :class => "btn btn-success" %>


    <div class="row">
      <div class="span4">
        <strong>Why use Bubboli?<strong><br><br>
          <ul>
            <li>Never be late with a birthday present again</li>
            <li>Personalized gifts based on your preferences</li>
            <li>Curated gifts from our community of parents, teachers, child development specialists, and kids themselves</li>
          </ul>
      </div>
      
      <div class="span4">
        <strong>Why use Bubboli?<strong><br><br>
          <ul>
            <li>So many options, you don't know what to get</li>
            <li>You are busy conquering the world</li>
            <li>You live far away</li>
          </ul>
      </div>
      
      <div class="span4">
        <strong>Who uses Bubboli?<strong><br><br>
          <ul>
            <li>Aunts and uncles</li>
            <li>Grandparents and godparents</li>
            <li>Family friends</li>
            <li>You!</li>
          </ul>
      </div>
      
    </div>
    

</div>
