
<div class="container index-background">

  <div id="step_one">
    <div class="container">
      <div class="row">
        <div class="span8 center-index">
          <span style="font-size: 20px;">STEP ONE</span>
          <p>This is how it works and a bunch of language on how it works</p>
        </div>


        <div class="span4">
          <%= leap_frog%>
        </div>
      </div>
    </div>
  </div>


  <div id="step_two">
    <div class="container">
      <div class="row">
        <div class="span4">
          <%= leap_frog%>
        </div>
    
        <div class="span8 center-index">
          <span style="font-size: 20px;">STEP TWO</span>
          <p>This is how it works and a bunch of language on how it works</p>
        </div>
      </div>
    </div>  
  </div>

  <div id="step_three">
    <div id="step_three_bottom">
      <div class="container">
        <div class="row">
          <div class="span8 center-index">
            <span style="font-size: 20px;">STEP THREE</span>
            <p>This is how it works and a bunch of language on how it works</p>
          </div>


          <div class="span4">
            <%= leap_frog%>
          </div>
        </div>
      </div>
    </div>  
  </div>
  
</div>


<div class="container example_toys">
  EXAMPLE TOYS GOING ACROSS
</div>


