<div class="container">
  
  <div class="large-font">Privacy</div>
  </br>
  
  We take privacy very seriously at Bubboli.  Below is our privacy commitment to you.
  </br>
  </br>
  <strong>Dated February 22, 2012</strong>
  </br>
  </br>

  <p>This website, www.bubboli.com (“Site”) is operated by Bubboli LLC (“Bubboli”) and has been created to
  provide information about our company and its product discovery and content community services (the 
  “Services”) to our users (“you”, “your”). This Privacy Policy sets forth Bubboli’s policy with respect 
  to information that is collected from Site visitors and users of the Services.</p>
</br>
  <strong>Non-personal Information</strong>
  <p>When you interact with Bubboli through the Site or Services, we collect non-personal information about 
  your activities online (such as the pages you access most frequently or the search terms you enter), 
  and information volunteered by you (such as survey). Such information, which is collected passively using 
  various technologies, cannot presently be used to specifically identify you. Bubboli may store such 
  information itself or such information may be included in databases owned and maintained by Bubboli 
  affiliates, agents or service providers. This Site may use such information and pool it with other 
  information to track, for example, the total number of visitors to our Site, the number of visitors 
  to each page of our Site, the domain names of our visitors' Internet service providers, and how our 
  users use and interact with the Services. Bubboli may share this non-identifiable and aggregate data 
  with its affiliates, agents and business partners, but this type of non-identifiable and aggregate 
  information does not identify you personally. Bubboli may also disclose aggregated user statistics in 
  order to describe our Services to current and prospective business partners, and to other third parties 
  for advertising and promotional purposes or other lawful purposes.</p>
</br>

  <strong>Use of Cookies</strong>
  <p>Bubboli uses 'cookies' to record information. A cookie is a small data file that our host stores on your 
  computer’s browser when you visit our Site. Cookies allow us to measure activity on our sites and to 
  improve your user experience by remembering your viewing preferences. Cookies allow us to determine which 
  areas and features of our Site are most popular by measuring user activity. This information allows us to 
  make improvements and updates to improve your experience. Bubboli does not use cookies to retrieve any 
  information from your computer.</p>
</br>

  <p>Most browsers are set to accept cookies. If you prefer, you may set your browser to refuse cookies or to 
  alert you when cookies are being sent. We recommend that you leave cookies turned on because they allow you 
  to take advantage of some of the Site’s features.</p>   
</br>

  <strong>Links to Third Parties</strong>
  <p>This Site contains links to sites other than our own. Such links may be to advertisers, content providers 
  or partners. Their Privacy Policy may be different from those of this Site. These other sites may send 
  their own cookies to you, and may collect information and use it in a way inconsistent with Bubboli’s 
  Privacy Policy. Such sites may contain information that content providers independent of Bubboli have 
  created, maintained, published, posted or otherwise made available.</p>
</br>

  <p>The use of any information or materials that you may access at these external sites is purely voluntary. 
  You should not rely on the contents without independent and thorough review of the accuracy, completeness, 
  effectiveness, timeliness and correct sequencing. These external sites may also refer to specific commercial 
  products, processes, or services by trade name, trademark, service mark, manufacturer or otherwise. Unless 
  Bubboli has provided explicit authority, such references in no way indicate our endorsement, recommendation 
  or preference.</p>

</br>

  <strong>Changes to Bubboli’s Privacy Policy</strong>
  <p>The Site and our business may change from time to time. As a result, at times it may be necessary for Bubboli 
  to make changes to this Privacy Policy. Bubboli reserves the right to update or modify this Privacy Policy at 
  any time and from time to time without prior notice. Please review this policy periodically. This Privacy 
  Policy was last updated on the date indicated above. Your continued use of the Site after any changes or 
  revisions to this Privacy Policy shall indicate your agreement with the terms of such revised Privacy Policy.</p>
  
  
</div>