<div class="container">
  
  <div class="large-font">Terms of Use</div>
  </br>
  
  <strong>Dated February 22, 2012</strong>
  </br>
  </br>

  <p>Bubboli LLC (“Bubboli,” “we,” “us,” “our”) provides its services (described below) to you through its 
  website located at www.bubboli.com (the “Site”) (collectively, such services, including any new features 
  and applications, and the Site, the “Service(s)”), subject to the following Terms of Service (as amended 
  from time to time, the “Terms of Service”). We reserve the right, at our sole discretion, to change or 
  modify portions of these Terms of Service at any time without further notice. You should periodically 
  visit this page to review the current Terms of Service so you are aware of any revision to which you are 
  bound. If we do this, we will post the changes to these Terms of Service on this page and will indicate 
  at the top of this page the date these terms were last revised. Your continued use of the Site after any 
  such changes constitutes your acceptance of the new Terms of Service. If you do not agree to abide by 
  these or any future Terms of Service, do not use or access (or continue to use or access) the Service. It 
  is your responsibility to regularly check the Site to determine if there have been changes to these Terms 
  of Service and to review such changes.</p>

  </br>
  <p>In addition, when using certain services, you will be subject to any additional terms applicable to such 
  services that may be posted on the Service from time to time, including, without limitation, the Privacy 
  Policy located at www.bubboli.com/privacy. All such terms are hereby incorporated by reference into these 
  Terms of Service.</p> 
  </br>
  <strong>Copyrights</strong>
  <p>All content on this Site, including but not limited to text and images, are proprietary property of Bubboli, 
  its users, or its licensors, with all rights reserved. You may not modify, copy, distribute, reproduce, 
  create derivative works from, republish, display, post, transmit, or sell in any form or by any means, in 
  whole or in part, without the prior written consent of Bubboli. As a user, Bubboli authorizes you to view, 
  download, email, and print Site content subject to the following conditions (i) it is for your personal and 
  non-commercial use; (ii) the content must be in its original form as present on the Site and not modified; 
  and (iii) any displays, emails or printouts must be marked “© Bubboli LLC all rights reserved” and all 
  copyright, trademark and any other proprietary notices intact. Any other use not explicitly stated herein 
  is unauthorized use and is strictly prohibited and may also violate applicable laws such as copyright laws. 
  Nothing contained on this Site may be construed as granting, by implication, estoppel or otherwise, any 
  license or right to use any Trademark without the prior written permission of Bubboli or such other party 
  that may own the Trademarks.</p>
  </br>
  <strong>Indemnity</strong>
  <p>You agree to indemnify and hold Bubboli, its subsidiaries, and affiliates, and their respective officers, 
  agents, partners and employees, harmless from any loss, liability, claim, or demand, including reasonable 
  attorneys’ fees, made by any third party due to or arising out of your use of the Services in violation or 
  breach of the Terms specified and/or any breach of your representations and warranties and/or if any content 
  that you post on the Site or through the Services causes Bubboli to be liable to any other third party.</p>
  </br>
  <strong>Links to Third Parties</strong>
  <p>The Site contains links to third-party websites. The linked sites are not under the control of Bubboli, and 
  we are not responsible for the contents of any linked site. Bubboli provides these links as a convenience, 
  and a link does not imply endorsement of, sponsorship of or affiliation with the linked site by Bubboli. 
  Linked sites are owned and operated by independent retailers or service providers, and therefore, Bubboli 
  cannot ensure that you will be satisfied with their products, services or business practices. You should make 
  whatever investigation you feel necessary or appropriate before proceeding with any transaction with any of 
  these third parties. You further acknowledge and agree that Bubboli will not be responsible or liable, directly 
  or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance 
  on any content, events, goods or services available on or through any such site or resource. Any dealings you 
  have with third parties found while using the Service are between you and the third party, and you agree that 
  Bubboli is not liable for any loss or claim that you may have against any such third party.</p>   
  </br>
  <strong>User Conduct</strong>
  <p>You are solely responsible for all reviews, blog comments or posts, information, data, text, software, music, 
  sound, photographs, graphics, video, messages or other materials (“content”) that you upload, post, publish or
  display or email or otherwise transmit or use via the Service. Bubboli reserves the right 
  to investigate and take appropriate legal action against anyone who, in Bubboli’s sole discretion, violates this
  provision, including without limitation, removing the offending content from the Service, and reporting you to 
  the law enforcement authorities. You agree to not use the Service to:</p> 
  <ul>
    <li>You shall not harass, threaten, stalk, or abuse any other person or persons in any matter when using this Site</li>
    <li>You shall not post or otherwise make available any content that is illegal, offensive, obscene, distasteful, vulgar, 
      hateful, racist or harmful to any person</li>
    <li>You shall not post libelous, defamatory or knowingly false statement or statements about another user or third party</li>
    <li>You shall not violate any privacy or publicity of another user or third party</li>
    <li>You shall not post any content that violates or infringes upon any copyright, trademark, trade secret, or patent of a third party</li>
    <li>You shall not impersonate or misrepresent any person or entity</li>
    <li>You shall not post any content containing any viruses, harmful code, or any other computer software or program designed to 
      interrupt or compromise the integrity of the content, functionality and Services of the Site</li>
    <li>You shall not solicit any personal information for commercial or unlawful use from any users</li>
    <li>You shall not harvest or collect email addresses or other contact information of other users from the Service or the Site by 
      electronic or other means for the purposes of sending unsolicited advertisements, promotional information, chain letters or “spam”, 
      or any other communication</li>
    <li>You shall not use the Site to encourage any sexually inappropriate interaction with any other person</li>
    <li>You shall not violate any applicable local, state, national or international law, or any regulations having the force of law</li>
  </ul>  
</div>