<% @page_title = "Manage Gift Age Ranges" %>

<div class="container">
  
  <div class="span4 offset4">
  <h4>Manage Gift Age ranges</h4>
  </br>

  <%= simple_form_for @gift_age_range do |f| %>

      <%= render(:partial => 'shared/manage', :locals => {:f => f}) %>
    
  <div class="btn primary white-link"><%= link_to "Cancel", list_gift_age_range_path %></div>
  <%= f.button :submit, 'Save', :class => "primary" %>
  
  <% end %>
  </div>
  
</div>