/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*==================================================
 * COLOR INDEX
 * ===============================================*/

$background-blue:     #D7EFEE;
$dark-green-blue:     #53868B;
$bubboli-red:         #FF6F6A;
$subdued-red:         #FF9B97;
$background-blue-two: #E4F9F8;
$light-gray:          #999999;
$lighter-gray:        #D1D1D1;
$lightest-gray:       #F0F0F0;
$background-orange:   #F9F2E3;
$orange-red:          #FF4500;
$bubboli-yellow:      #FEFCE6;
$teal-green:          #63CECA;
$teal-green2:         #2EAF9D;
$teal-green3:         #5FC5C1;
$bubboli-green:       #6FAE4D;

@import 'bootstrap';

/*==================================================
 * MY PROFILE VIEW
 * ===============================================*/
 [class^="icon-"], [class*=" icon-"] {
   background-image: url(/assets/glyphicons-halflings.png)
 }

/*.blue {
  background-color: $background-blue;
  margin-left: 20px;
  }*/

/*OPTION ONE*/

/*hr.gray-dotted {
  background: url(gray_dotted_line.png) repeat-x top left;
  border: 0;
  height: 5px;
  }*/


/* OPTION TWO*/  
/*.stitched-title {
  position: relative;
  z-index: 500;
  width: 250px;
 	padding: 5px 10px;
 	margin: 0 0 0 30px;
 	background: #ff0030;
 	background: url(blue_pattern_background.gif) repeat scroll 0 0 transparent;
 	color: $teal-green2;
 }

.stitched {
  top: -40px;
	padding: 5px 10px;
	position: relative;
	z-index: 0;
	margin: 10px;
	background: url(blue_pattern_background.gif) repeat scroll 0 0 transparent;
	background: white;
	color: $teal-green2;
}

.stitched-shadow {
  font-size: 13px;
  line-height: 1.3em;
  border: 2px dashed $teal-green;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 0 0 4px white, 2px 1px 4px 4px $lighter-gray;
  -webkit-box-shadow: 0 0 0 4px white, 2px 1px 4px 4px $lighter-gray;
  box-shadow: 0 0 0 4px white, 2px 1px 6px 4px $lighter-gray;  
  }*/



/* OPTION THREE */
.op3-title {
  position: relative;
  z-index: 500;
  width: 250px;
 	padding: 5px 10px;
 	margin: 0 0 0 30px;
 	background: #ff0030;
 	background: url(blue_pattern_background.gif) repeat scroll 0 0 transparent;
 	color: $teal-green2;
 }

.op3-stitched-shadow {
  font-size: 13px;
  line-height: 1.3em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 0 0 4px white, 2px 1px 4px 4px $lighter-gray;
  -webkit-box-shadow: 0 0 0 4px white, 2px 1px 4px 4px $lighter-gray;
  box-shadow: 0 0 0 4px white, 2px 1px 6px 4px $lighter-gray;  
  }

.test-stitch {
  position: relative;
  background: url(gray_dotted_line.png) repeat-x scroll 0 0 transparent;
  z-index: -1000;
  top: -15px;
  color: white;
  } 
  
/*OPTION FOUR*/ 
/*.op4-title {
  position: relative;
  z-index: 500;
  width: 250px;
 	padding: 5px 10px;
 	margin: 0 0 0 30px;
 	background: #ff0030;
 	background: url(blue_pattern_background.gif) repeat scroll 0 0 transparent;
 	color: $teal-green2;
 }

.op4-stitched-shadow {
  font-size: 13px;
  line-height: 1.3em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 0 0 4px white, 2px 1px 4px 4px $lighter-gray;
  -webkit-box-shadow: 0 0 0 4px white, 2px 1px 4px 4px $lighter-gray;
  box-shadow: 0 0 0 4px white, 2px 1px 6px 4px $lighter-gray;  
  }

.stitch-w-box {
  position: relative;
  border-top: 3px dashed $teal-green;
  background-color: #F8F8F8;
  background: url(linen_background.jpg) repeat scroll 0 0 transparent;
  z-index: 0;
  top: -15px;
  }*/  

/* OPTION FIVE*/
/*.op5-title {
  font-size: 14px; 
  color: $bubboli-red;
  position: relative;
  z-index: 500;
 	padding: 5px 10px;
 	margin-right: auto;
 	background: white;
 }

.test-stitch {
   position: relative;
   background: url(gray_dotted_line.png) repeat-x scroll 0 0 transparent;
   z-index: 0;
   top: -15px;
   color: white;
 }*/

.upcoming-birthdays {
  width: 190px;  
  }

.my-children {
  width: 130px;  
  }

.all-children {
  width: 225px;  
  }
  
/*==================================================
 * OVERALL SITE
 * ===============================================*/
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -101px;
  }
  
.wrapper > .container {
  padding-top: 0px;
  }

html {
  height: 100%
  }

@font-face {
	font-family: 'LatoLight';
	src: url('/vendor/assets/fonts/Lato-Lig-webfont.eot');
	src: local('LatoLight'), url('/assets/Lato-Lig-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/Lato-Lig-webfont.woff') format("woff"), url('/assets/Lato-Lig-webfont.ttf') format("truetype"), url('/assets/Lato-Lig-webfont.svg#LatoLight') format("svg");
	font-weight: normal;
	font-style: normal;
	}
	
@font-face {
	font-family: 'LatoRegular';
	src: url('/vendor/assets/fonts/Lato-Reg-webfont.eot');
	src: local('LatoRegular'), url('/assets/Lato-Reg-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/Lato-Reg-webfont.woff') format("woff"), url('/assets/Lato-Reg-webfont.ttf') format("truetype"), url('/assets/Lato-Reg-webfont.svg#LatoLight') format("svg");
	font-weight: normal;
	font-style: normal;
	}	
  	
body {
  /*padding-bottom: 70px;*/
  height: 100%;
  font-family: 'LatoRegular';
  /*background: url(background_image.png) repeat scroll 0 0;
  background: url(footer_pattern.png) repeat scroll 0 0 transparent;*/
  }

.proper-content {
  padding-top: 155px; 
  position: relative; 
  }  

p {
  line-height: 150%;
  font-size: 105%;
  font-family: 'LatoLight';
  }

hr {
  border-bottom: 1px solid $lightest-gray;
  margin-top: 2px
  } 

hr.profile {
  border: 1px dashed $lightest-gray;
  } 

.btn.primary {
  background-color: $bubboli-red;

  background-image: -moz-linear-gradient(center top , $subdued-red, $bubboli-red);
  background-image: -khtml-gradient(linear, left top, left bottom, from($subdued-red), to($bubboli-red));
  background-image: -ms-linear-gradient(top, $subdued-red, $bubboli-red);
  background-image: -webkit-gradient(linear, center top, left bottom, color-stop(0%, $subdued-red), color-stop(100%, $bubboli-red));
  background-image: -webkit-linear-gradient(top, $subdued-red, $bubboli-red);
  background-image: -o-linear-gradient(top, $subdued-red, $bubboli-red);
  background-image: linear-gradient(top, $subdued-red, $bubboli-red);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9B97', endColorstr='#FF6F6A', GradientType=0);

  background-repeat: repeat-x;
  border-color: $bubboli-red $bubboli-red $subdued-red;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

.btn.green {
  background-color: $bubboli-green;
 
  background-image: -moz-linear-gradient(center top , $bubboli-green, $bubboli-green);
  background-image: -khtml-gradient(linear, left top, left bottom, from($bubboli-green), to($bubboli-green));
  background-image: -ms-linear-gradient(top, $bubboli-green, $bubboli-green);
  background-image: -webkit-gradient(linear, center top, left bottom, color-stop(0%, $bubboli-green), color-stop(100%, $bubboli-green));
  background-image: -webkit-linear-gradient(top, $bubboli-green, $bubboli-green);
  background-image: -o-linear-gradient(top, $bubboli-green, $bubboli-green);
  background-image: linear-gradient(top, $bubboli-green, $bubboli-green);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9B97', endColorstr='#FF6F6A', GradientType=0);

  background-repeat: repeat-x;
  border-color: $bubboli-green;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }  
  
.btn-spacing {
  margin-top: 3px;
  } 

.btn-fixed-bottom {
  position: relative;
  top: 0;
  margin-top: -120px;
  margin-left: 5px;
  } 

.white-font, .white-link a {
  color: #FFFFFF;
  }  

a {
  color: $teal-green;
  }

.pending_link a {
  color: $subdued_red;
  font-size: 22px; 
  }

.user_grp_btn_link a {
  color: $dark-green-blue;
  font-size: 22px; 
  }
  
.red_link a {
  color: $bubboli_red;
  }

input,
select {
  display: inline-block;
  padding: 4px;
  margin-bottom: 6px;
}

.input-110 { 
  width: 110px 
  }

.image-placeholder {
  border: 1px solid $lightest-gray;
  height: 90px;
  width: 90px;
  margin-bottom: 4px
  }

.space-break {
  padding-top: 10px;
  }

.alert-danger, .alert-error, .alert-block, .alert-info, .alert-success {
  width: 900px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  }
  
.relationship-header {
  font-size: 16px; 
  color: $bubboli-red;
  text-align: center
  }

.red-font {
  color: $bubboli-red;
  }

li.inline  {
  display: inline;
  margin-left: 10px;
  }

.register_link {
  font-size: 11px; 
  text-align: center;
  margin-top: -30px;
  margin-left: 35px;
  }
  
.bubboli-quote {
  font-size: 28px;
  color: $teal-green;
  }
  
.welcome {
  position: fixed;
  top: 200px;
  left: 0px;
  z-index: 99;
  }
  
.welcome-text {
  position: fixed;
  top: 300px;
  left: 20px;
  width: 160px;
  z-index: 99;
  text-align: center;
  color: $dark-green-blue;
  } 

.welcome-text a {
  color: $bubboli-red
  }   
  
/*==================================================
 * INDEX PAGE
 * ===============================================*/

#step_two {
  /*background: url(gray_w_dash_line.jpg) repeat scroll 0 0 transparent;*/
  }

.index-background {
  background: url(linen_background.jpg) repeat scroll 0 0 transparent;
  font-size: 14px;
  padding-top: 20px;
  font-family: 'Lato';
  color: $dark-green-blue
  /*opacity: 0.7;
  filter:alpha(opacity=70);*/
  } 
  
.explainer-video {
  position: relative;
  text-align: right;
  padding-right: 20px;
  }

.section-header {
  background: url(section-header.jpg) no-repeat scroll 0 0 transparent;
  height: 175px;
  }

.index-h3 {
  color: $bubboli-green;
  font-size: 15px;
  }

.index-p {
  font-family: 'Georgia';
  font-style: italic;
  color: $light-gray
  }
  
.section-header-text {
  position: relative;
  top: 65px;
  text-align: center;
  font-size: 18px;
  color: $dark-green-blue;
  }
  
.how-it-works {
  position: relative;
  top: 20px;
  text-align: center; 
  }

.how-it-works-title {
  font-size: 20px;
  color: $bubboli-red;
  font-family: 'Georgia';
  font-style: italic;
  } 
  
.approve-gift-background {
  background: $bubboli-yellow;
  margin-left: 0px;
  /*opacity: 0.7;
  filter:alpha(opacity=70);*/
  }

#step_three {
  /*background: url(blue_w_gray_line_top.jpg);*/
  }

#step_three_bottom {
  /*background: url(blue_w_gray_line.jpg) repeat-x bottom left;*/
  }

.center-index, center-index p{
  display: inline-block;
  text-align: center;
  }

.quotes {
  font-size: 14px;
  color: $light-gray;
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  }
  
/*==================================================
 * TOPBAR AND FOOTER
 * ===============================================*/
   
.logo-topbar-fill {
  background-color: #FFF;
  background-color: #FFF;
  background-image: -moz-linear-gradient(center top , #FFF, #FFF);
  }

.logo-topbar {
  height: 100px;
  left: 0;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #FFF;
  z-index: 1000;
  }

.navbar, .navbar-inner, .navbar-fixed-top {
  background-image: -moz-linear-gradient(center top , #FFF, #FFF);
  background-image: -ms-linear-gradient(center top , #FFF, #FFF);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #FFF));
  background-image: -webkit-linear-gradient(top, #FFF, #FFF);
  background-image: -o-linear-gradient(top, #FFF, #FFF);
  background-image: linear-gradient(top, #FFF, #FFF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#FFFFFF', GradientType=0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0) inset;
  }

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-color: $dark-green-blue;
  }

.navbar .nav > li > a {
  color: $light-gray;
  }

.nav .nav-pills > li > a {
  color: $dark-green-blue;
  padding-top: 25px;
  }

.navbar .nav > li > a:hover {
  color: $dark-green-blue;
  }

hr.navline {
  clear: both; 
  float: none; 
  width: 100%; 
  height: 4px;
  margin: 1.4em 0 0px 0;
  border: none; 
  background: $teal-green;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.3, $teal-green),
      color-stop(0.7, $teal-green),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(255,255,255) 0%,
      $teal-green 30%,
      $teal-green 70%,
      rgb(255,255,255) 100%
  );
  }

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: $teal-green;
  color: #FFFFFF;
  font-weight: bold;
  }
  
.nav > li > a:hover {
  background-color: $subdued-red;  
  }

.nav-pills > li > a {
  background-color: $lighter-gray;
  color: #FFFFFF;
  font-weight: bold;
  width: 90px;
  text-align: center;
  margin-right: 0px;
  margin-left: 6px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  }

.push {
  height: 101px
  }

footer, {
  text-align: center;
  /*background: url(footer_pattern.png) repeat scroll 0 0 transparent;*/
  background: url(gray_w_dash_line.jpg) repeat scroll 0 0 transparent;
  /*background-color: #eee;
  background-color: #A6A6A6;*/
  clear: both;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  }

.footer-nav, .sub-nav {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  }    

.footer-nav li, .sub-nav li {
  display: inline;  
  }
   
.footer-nav a, .sub-nav a {
  display: inline-block;
  margin: 5px 10px;  
  color: $dark-green-blue
  }

.sub-nav {
  font-size: 11px;
  }    

.sub-nav > li > a {
  line-height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  color: $dark-green-blue
  }

.sub-nav >li > a:hover, .sub-nav > .active > a {
  background-color: $teal-green;
  color: #FFFFFF;
  text-decoration: none;
  vertical-align: center;
  }

hr.subnav-top {
  border: 1px dashed $light-gray;
  margin-bottom: 1px;
  margin-top: 2px
  }

hr.subnav-bottom {
  border: 1px dashed $light-gray;
  margin-top: 33px;
  z-index: 1;
  }
  
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: $teal-green
  }

.nav > .dropdown.active > a:hover {
  color: white;
  }

.nav-pills .open .dropdown-toggle {
  background-color: $subdued-red;
  }

.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: white;
  border-bottom-color: white;
  }
   
/*==================================================
 * PRODUCTS AND SEARCH AND USER PROFILE
 * ===============================================*/
   
ul.prod {
  list-style: none;
  width: 780px;
  }
  
li.prod-list {
  float: left;
  width: 180px;
  }
  
.prod-well {
  height: 240px;
  float: left;
  width: 180px;
  padding: 10px;
  text-align: center;
  background-color: $background-blue;
  border: 20px solid #fff;
  border-radius: 14px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  }
  
.profile-well, .preference-well, .accordion-group {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px 10px #DDDDDD, -3px -3px 10px #DDDDDD;
  color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  } 

.profile-well, .preference-well {
  font-size: 11px;
  }   

.accordion-inner {
  border-top: 2px solid $teal-green;
  }

.accordion-toggle {
  background: url(blue_pattern_background.gif) repeat scroll 0 0 transparent;
  }
  
/*a.accordion-toggle {
  color: white;
  }*/  
  
.btn-group > .btn-borderless {
  padding-top: 10px;
  border-left: none;
  border-right: none;  
  }
    
.btn-group > .btn-borderless:first-child {
  -webkit-border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
          border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  }
  
.btn-group > .btn-borderless:last-child {
  -webkit-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  } 
  
.btn-grp-small-size {
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  }  
  
.child-search-well {
  height: 190px;
  float: left;
  width: 220px;
  padding: 10px;
  text-align: center;
  background-color: $background-blue;
  border: 0px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  }

.new-child-well { 
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -265px;
  height: 210px;
  width: 500px;
  padding: 10px;
  background-color: $background-blue;
  border: 0px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  }

.align-user-profile {
  margin-top: -15px;
  align: right;
  }

.extra-padding {
  padding-left: 20px;
  }  
  
.toy-search {
  margin-top: -30px;
  margin-bottom: 20px;
  padding: 39px;
  }

.form-stacked {
  padding-left: 0px;
  }
  
.form-stacked label {
  color: $light-gray;
  font-size: 13px;
  font-weight: bold;
  line-height: 10px;
  }
  
.approve_gifts_title {
  padding-top: 0px;
  padding-left: 20px;
  }

.white-link a {
  color: #fff;
  text-decoration: none;
  }

.red-link a {
  color: $bubboli-red;
  text-decoration: none;
  }

ul.child-list {
  list-style: none;
  width: 780px;  
  }

.children-following, .recommended-gifts, .add_to_purchased_gifts {
  float: left;
  padding: 5px;
  /*border-top:0px;
  border-right:10px solid #fff;
  border-bottom:10px solid #fff;
  border-left: 0px;*/
  margin: 0 10px 30px 0;
  }

.children-following {
  height: 100px;
  }

.recommended-gifts, .add_to_purchased_gifts {
  height: 90px;
  }

li.children-following img, li.recommended-gifts img, li.add_to_purchased_gifts img {
  border: solid 1px #ccc;
  height: 90px;
  width: 90px;
  float: left;
  padding: 4px;
  margin: 3px 1px 3px 1px
  }
  
li.child-list {
  float: left;
  width: 215px;
  } 

.static-left-side {
  position: fixed;
  }  

.font-next-to-images {
  color: $light-gray; 
  font-size: 12px;
  }


/*==================================================
 * CHILD PROFILE
 * ===============================================*/
  
li.recommended-gifts, li.add_to_purchased_gifts {
  float: left;
  width: 210px;
  }

.add-margin {
  margin-left: 20px;
  }    

/*==================================================
 * SOCIAL MEDIA ICONS
 * ===============================================*/

.socialmedia-logo {
  list-style: none;
  }
  
.socialmedia-overlap {
  visibility: visible;
  z-index: -1;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  list-style: none;
  display: block;
  margin-left: 5px;
  }
  
.socialmedia-overlap li {
  margin-bottom: 0px;
  display: inline;
  vertical-align: center;
  }

ul.socialmedia-overlap {
  margin: 1px 0 0 25px;
  }


/*==================================================
 * BLOG CONTENT
 * ===============================================*/
  
.blog-content {
  margin-left: 0px;
  }

.blog {
  left: 862px;
  top: -35px;
  opacity: 1;
  }

/*==================================================
 * FONTS - MOUNTAINS OF CHRISTMAS - BUBBOLI LOGO
 * ===============================================*/

@font-face {
  font-family: 'MountainsofChristmas';
  src: url('/assets/MountainsofChristmas-webfont.eot');
  src: local('MountainsofChristmas'), url('/assets/MountainsofChristmas-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/MountainsofChristmas-webfont.woff') format("woff"), url('/assets/MountainsofChristmas-webfont.ttf') format("truetype"), url('/assets/MountainsofChristmas-webfont.svg#MountainsofChristmasRegular') format("svg");
  font-weight: normal;
  font-style: normal;
  }
  
.mynewfont {
  font-family: 'MountainsofChristmas';
  font-size: 18px;
  color: $bubboli-red;
  }
  
.large-font {
  font-size: 28px;
  }
  
.gray-font {
  color: $light-gray;
  }
  
.blog-back-home {
  text-align: center;
  }


/*==================================================
 * FONTS - QIKKI REGULAR
 * ===============================================*/

 @font-face {
   font-family: 'QikkiRegRegular';
   src: url('/vendor/assets/fonts/Qarmic_sans_Abridged-webfont.eot');
   src: local('QikkiRegRegular'), url('/assets/Qarmic_sans_Abridged-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/Qarmic_sans_Abridged-webfont.woff') format("woff"), url('/assets/Qarmic_sans_Abridged-webfont.ttf') format("truetype"), url('/assets/Qarmic_sans_Abridged-webfont.svg#QikkiRegRegular') format("svg");
   font-weight: normal;
   font-style: normal;
   } 

.qikki-font {
  font-family: 'QikkiRegRegular';
  }


/*==================================================
 * OTHER
 * ===============================================*/
  
.divider {
  border-left:20px $bubboli-red;
  font-size: 70px;
  margin: 0;
  }
  
pre {
  font-family: 'MountainsofChristmas';
  }
  
img.float-right {
  float: right;
  margin: 5px;
  }
  
.brand-text {
  text-align: center;
  color: $dark-green-blue;
  font-size: 15px;
  }  
  
.brands {
  text-align: center;
  }  
  
.pagination .active a, .pagination a:hover, {
  background-color: $background-blue;
  }

.no-margin-or-bullet {
  list-style: none;
  padding: 0;
  margin-left: 0px;
  }

.no-bullet {
  list-style: none;
  padding: 0;
  }

.text-over-banner {
  position: relative;
  z-index: 1;
  left: 15px;
  top: -100px;
  }

.sign-out {
  float: right;
  }

.float-right {
  float: right;
  }
  
/*==================================================
 * SHOW TABS
 * ===============================================*/

.tabs, .user-tabs {
  margin-bottom: 18px;
  margin-left: 0;
  list-style: none;
  }

.tabs {
  border-color: $subdued-red;
  }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: #FFFFFF;
  color: $dark-green-blue;
  border-color: $subdued-red $subdued-red #FFFFFF;
  }
  
.tabs > li > a, .user-tabs > li > a {
  display: block;
  text-decoration: none;
  color: #FFF;
  }

.tabs > li > a {
  background-color: $subdued-red;
  border-color: $subdued-red $subdued-red #FFFFFF;
  }
  
.user-tabs > li > a {
  background-color: $lightest-gray;
  border-color: $lightest-gray $lightest-gray #FFFFFF;
  color: $dark-green-blue;
  }
  
.tab-content-line {
  border-bottom: 1px solid $subdued-red
  }  

/*==================================================
 * FOR BUY GIFT BOX
 * ===============================================*/

.gift-buy-box {
  height: 130px;
  width: 230px;
  float: right;
  margin-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  background-color: $background-blue;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: url(buy-background.png) no-repeat;
  }

.addthis_toolbox {
  width: 230px;
  margin-left: 76px;
  }

.gift-buy-box2 {
  height: 420px;
  width: 230px;
  float: right;
  padding-top: 10px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: url(gift-stats.png) no-repeat;
  }

/*==================================================
 * FOR RELATED GIFT IMAGES IN SHOW PAGE
 * ===============================================*/

#image {
  height: 280px;
  }  
  
.related-gifts img, .thumbs img, .approve_gifts_list img {
	border: solid 1px #ccc;
	background-color: white;
	height: 90px;
	width: 90px;
	padding: 4px;
	margin: 3px 1px 3px 1px
  }
  
.thumbs img:hover {
	border-color: #FF9900;
  }

.related-gifts, .approve_gifts_list {
  float: left;
  width: 130px;
  text-align: center;
  display: inline-block;
  position: relative;
  }
  
.related-gifts, {
  height: 145px;
  padding: 5px;
  }  
 
.approve_gifts_list, {
  height: 186px;
  padding: 15px;
  } 
 
/*==================================================
 * FOR PRODUCT STATS IN SHOW PAGE
 * ===============================================*/
  
.prod-stats {
  padding: 10px;
  border-top: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  }

/*==================================================
 * FOR ORIGINAL SLIDER WITH BABY PICTURES
 * ===============================================*/

#mainslideshow {
  visibility: visible;
  position: relative
  }
  
#mainslideshow IMG {
  position:absolute;
  z-index:8;
  }

#mainslideshow IMG.active {
  z-index:10;
  }
  
#mainslideshow IMG.last-active {
  z-index:9;
  }

/*==================================================
 * FOR ROOT SPLASHBOX
 * ===============================================*/
  
.splash-box {
  width: 280px;
  /*height: 378px;*/
  height: 285px;
  background: #FFF;
  /*border: 5px solid $dark-green-blue;*/
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  }

.social-media-box {
  width: 570px;
  height: 50px;
  background: #F8F8F8;
  border: 1px solid #F0F0F0;
  padding: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  }


.splash-font {
  font-size: 15px;
  color: $dark-green-blue;
  }

/*==================================================
 * FOR ROOT PRODUCT SLIDER
 * ===============================================*/

ul.slideshow {
  list-style:none;
  width:600px;
  height:300px;
  overflow:hidden;
  position:relative;
  margin:0;
  padding:0;
  }   

ul.slideshow li {
  position:absolute;
  left:0;
  right:0;
  }

ul.slideshow li.show {
  z-index:500;    
  }

ul img {
  border:none;    
  }

#slideshow-caption {
  width:200px;
  height:300px;
  position:absolute;
  float: right;
  bottom:0;
  left:400px; 
  color:#fff;
  background: $bubboli-red;
  z-index:500;
  }

#slideshow-caption .slideshow-caption-container {
  padding:5px 10px;   
  z-index:1000;   
  }

#slideshow-caption h3 {
  margin:0;
  padding-top:10px;
  font-size:18px;
  color: #fff;
  line-height: 105%;
  }

#slideshow-caption p {
  margin:5px 0 0 0;
  padding-top:10px;
  font-size:14px;
  font-weight: bold;
  }
  
.featured_thumbs{  
  width: 90px;  
  height: 250px;  
  overflow: hidden; 
  position: relative;
  float: right; 
  }

.gallery{  
  width: 600px;  
  height: 300px;  
  /*border: 1px solid #F0F0F0;*/
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
	background:#FFF;
  }

  
/*==================================================
 * ROOT SHADOW EFFECTS
 * ===============================================*/
  
.root-shadow-effect {
  position: relative;
  }
  
.root-shadow-effect:before, .root-shadow-effect:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #B8B8B8 ;
  -moz-box-shadow: 0 15px 10px #B8B8B8 ;
  box-shadow: 0 15px 10px #B8B8B8 ;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  }

.root-shadow-effect:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
  }


/*==================================================
 * SPLASH BOX EFFECTS
 * ===============================================*/
   
.splash-box-effect {
 	position:relative;
   -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1) inset;
           box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1) inset;
  }
  
.splash-box-effect:before, .splash-box-effect:after {
	 content:"";
   position:absolute;
   z-index:-1;
   -webkit-box-shadow:0 0 20px rgba(0,0,0,0.9);
   -moz-box-shadow:0 0 20px rgba(0,0,0,0.9);
   box-shadow:0 0 20px rgba(0,0,0,0.9);
   top:50%;
   bottom:0;
   left:10px;
   right:10px;
   -moz-border-radius:100px / 10px;
   border-radius:100px / 10px;
   }

.splash-box-effect:after {
	right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
     -ms-transform:skew(8deg) rotate(3deg);
      -o-transform:skew(8deg) rotate(3deg);
         transform:skew(8deg) rotate(3deg);
   }



 /*==================================================
  * PHOTOS
  * ===============================================*/
.photos-collage {
  margin-left: 50px;
  }

ul.photos-collage li {
  margin-bottom: 9px;
  margin-right: 5px;
  float: left;
  }
   
#make_child_pf_pic li {
  margin-top: -50px;
  text-align: top;
  }
