/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*==================================================
 * COLOR INDEX
 * ===============================================*/

$background-blue:     #D7EFEE;
$dark-green-blue:     #53868B;
$bubboli-red:         #FF6F6A;
$subdued-red:         #FF9B97;
$background-blue-two: #E4F9F8;
$light-gray:          #bfbfbf;
$background-orange:   #F9F2E3;
$orange-red:          #FF4500;


@import 'bootstrap';


/*==================================================
 * OVERALL SITE
 * ===============================================*/
 
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
  }

html {
  height: 100%
  }

body {
  padding-top: 190px;
  height: 100%;
  }

p {
  line-height: 150%;
  font-size: 105%;
  }

.btn.primary {
  background-color: $bubboli-red;

  background-image: -moz-linear-gradient(center top , $subdued-red, $bubboli-red);
  background-image: -khtml-gradient(linear, left top, left bottom, from($subdued-red), to($bubboli-red));
  background-image: -ms-linear-gradient(top, $subdued-red, $bubboli-red);
  background-image: -webkit-gradient(linear, center top, left bottom, color-stop(0%, $subdued-red), color-stop(100%, $bubboli-red));
  background-image: -webkit-linear-gradient(top, $subdued-red, $bubboli-red);
  background-image: -o-linear-gradient(top, $subdued-red, $bubboli-red);
  background-image: linear-gradient(top, $subdued-red, $bubboli-red);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$subdued-red', endColorstr='$bubboli-red', GradientType=0);

  background-repeat: repeat-x;
  border-color: $bubboli-red $bubboli-red $subdued-red;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

.push {
  height: 70px
  }

footer, {
  text-align: center;
  background-color: #eee;
  height: 70px;
  clear: both;
  }

a {
  color: $dark-green-blue;
  }


/*==================================================
 * TOPBAR
 * ===============================================*/
   
.logo-topbar-fill {
  background-color: #FFF;
  background-color: #FFF;
  background-image: -moz-linear-gradient(center top , #FFF, #FFF);
  }

.logo-topbar {
  height: 120px;
  left: 0;
  overflow: visible;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
  }
  
.topbar {
  top: 110px;
  }
  
.topbar .fill {
  background-image: -moz-linear-gradient(center top , $background-blue, #FFF);
  background-image: -ms-linear-gradient(center top , $background-blue, #FFF);
  background-image: -khtml-gradient(linear, left top, left bottom, from($background-blue), to(#FFF));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, $background-blue));
  background-image: -webkit-linear-gradient(top, $background-blue, #FFF);
  background-image: -o-linear-gradient(top, $background-blue, #FFF);
  background-image: linear-gradient(top, $background-blue, #FFF);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0) inset;
  }
  
.topbar a {
  color: $dark-green-blue;
  }
  
.topbar div > ul .active > a {
  background-color: $dark-green-blue;
  }
  
.topbar div > ul a:hover, .nav a:hover {
  color: $dark-green-blue;
  }
  

/*==================================================
 * PRODUCTS AND SEARCH
 * ===============================================*/
   
ul.prod {
  list-style: none;
  width: 780px;
  }
  
li.prod-list {
  float: left;
  width: 180px;
  }
  
.prod-well {
  height: 240px;
  float: left;
  width: 180px;
  padding: 10px;
  text-align: center;
  background-color: $background-blue;
  border: 20px solid #fff;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  }
  
  
.toy-search {
  margin-top: -30px;
  margin-bottom: 20px;
  padding: 39px;
  }

.form-stacked {
  padding-left: 0px;
  }
  
.form-stacked label {
  color: $light-gray;
  }
  
.no-gifts {
  padding-top: 50px;
  padding-left: 20px;
  }

.white-link a {
  color: #fff;
  text-decoration: none;
  }

.red-link a {
  color: $bubboli-red;
  text-decoration: none;
  }


/*==================================================
 * SOCIAL MEDIA ICONS
 * ===============================================*/

.socialmedia-logo {
  list-style: none;
  }
  
.socialmedia-overlap {
  visibility: visible;
  position: absolute;
  z-index: 10000;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  }
  
.fb {
  left: 736px;
  top: -33px;
  }
  
.twitter {
  left: 796px;
  top: -33px;
  }
  
.pinterest {
  left: 855px;
  top: -25px;
  }
  
.rss {
  left: 895px;
  top: -25px;
  }


/*==================================================
 * BLOG CONTENT
 * ===============================================*/
  
.blog-content {
  margin-left: 0px;
  }

.blog {
  left: 860px;
  top: -35px;
  opacity: 1;
  }

/*==================================================
 * FONTS - MOUNTAINS OF CHRISTMAS - BUBBOLI LOGO
 * ===============================================*/

@font-face {
  font-family: 'MountainsofChristmas';
  src: url('/assets/MountainsofChristmas-webfont.eot');
  src: local('MountainsofChristmas'), url('/assets/MountainsofChristmas-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/MountainsofChristmas-webfont.woff') format("woff"), url('/assets/MountainsofChristmas-webfont.ttf') format("truetype"), url('/assets/MountainsofChristmas-webfont.svg#MountainsofChristmasRegular') format("svg");
  font-weight: normal;
  font-style: normal;
  }
  
.mynewfont {
  font-family: 'MountainsofChristmas';
  font-size: 18px;
  color: $bubboli-red;
  }
  
  .large-font {
    font-size: 28px;
    }
  
.gray-font {
  color: $light-gray;
  }
  
.blog-back-home {
  text-align: center;
  }


/*==================================================
 * FONTS - QIKKI REGULAR
 * ===============================================*/

 @font-face {
   font-family: 'QikkiRegRegular';
   src: url('/vendor/assets/fonts/Qarmic_sans_Abridged-webfont.eot');
   src: local('QikkiRegRegular'), url('/assets/Qarmic_sans_Abridged-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/Qarmic_sans_Abridged-webfont.woff') format("woff"), url('/assets/Qarmic_sans_Abridged-webfont.ttf') format("truetype"), url('/assets/Qarmic_sans_Abridged-webfont.svg#QikkiRegRegular') format("svg");
   font-weight: normal;
   font-style: normal;
   } 

.qikki-font {
  font-family: 'QikkiRegRegular';
  }


/*==================================================
 * OTHER
 * ===============================================*/
  
.divider {
  border-left:20px $bubboli-red;
  font-size: 70px;
  margin: 0;
  }

hr {
  border-bottom: 1px dashed $background-blue;
  }
  
pre {
  font-family: 'MountainsofChristmas';
  }
  
img.float-right {
  float: right;
  margin: 5px;
  }
  
.brand-text {
  text-align: center;
  color: $dark-green-blue;
  font-size: 15px;
  }  
  
.brands {
  text-align: center;
  }  
  
.pagination .active a, .pagination a:hover, {
  background-color: $background-blue;
  }

.no-margin-or-bullet {
  list-style: none;
  padding: 0;
  margin-left: 0px;
  }

.text-over-banner {
  position: relative;
  z-index: 1;
  left: 15px;
  top: -100px;
  }

.sign-out {
  float: right;
  }


/*==================================================
 * FOR GIFT SHOW TABS
 * ===============================================*/

.tabs {
  border-color: $subdued-red;
  }

.tabs .active {
  background-color: #FFFFFF;
  color: $dark-green-blue
  }
  
.tabs > li > a {
  text-decoration: none;
  color: #FFF;
  background-color: $subdued-red;
  border-color: $subdued-red $subdued-red #FFFFFF;
  }
  
.tab-content {
  border-bottom: 1px solid $subdued-red
  }  


/*==================================================
 * FOR BUY GIFT BOX
 * ===============================================*/

.gift-buy-box {
  height: 130px;
  width: 230px;
  float: right;
  margin-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  background-color: $background-blue;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: url(buy-background.png) no-repeat;
  }

.gift-buy-box2 {
  height: 420px;
  width: 230px;
  float: right;
  padding-top: 10px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: url(gift-stats.png) no-repeat;
  }

/*==================================================
 * FOR RELATED GIFT IMAGES IN SHOW PAGE
 * ===============================================*/

#image {
  height: 280px;
  }  
  
.related-gifts img, .thumbs img {
	border: solid 1px #ccc;
	height: 90px;
	width: 90px;
	padding: 4px;
  }
  
.thumbs img:hover {
	border-color: #FF9900;
  }

.related-gifts {
  float: left;
  padding: 5px;
  width: 130px;
  text-align: center
  }
 
 
/*==================================================
 * FOR PRODUCT STATS IN SHOW PAGE
 * ===============================================*/
  
.prod-stats {
  padding: 10px;
  border-top: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  }

/*==================================================
 * FOR ORIGINAL SLIDER WITH BABY PICTURES
 * ===============================================*/

#mainslideshow {
  visibility: visible;
  position: relative
  }
  
#mainslideshow IMG {
  position:absolute;
  z-index:8;
  }

#mainslideshow IMG.active {
  z-index:10;
  }
  
#mainslideshow IMG.last-active {
  z-index:9;
  }

/*==================================================
 * FOR ROOT SPLASHBOX
 * ===============================================*/
  
.splash-box {
  width: 280px;
  /*height: 378px;*/
  height: 285px;
  background: #FFF;
  /*border: 5px solid $dark-green-blue;*/
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  }

.social-media-box {
  width: 570px;
  height: 50px;
  background: #F8F8F8;
  border: 1px solid #F0F0F0;
  padding: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  }


.splash-font {
  font-size: 15px;
  color: $dark-green-blue;
  }

/*==================================================
 * FOR ROOT PRODUCT SLIDER
 * ===============================================*/

ul.slideshow {
  list-style:none;
  width:600px;
  height:300px;
  overflow:hidden;
  position:relative;
  margin:0;
  padding:0;
  float: left
  }   

ul.slideshow li {
  position:absolute;
  left:0;
  right:0;
  }

ul.slideshow li.show {
  z-index:500;    
  }

ul img {
  border:none;    
  }

#slideshow-caption {
  width:200px;
  height:300px;
  position:absolute;
  float: right;
  bottom:0;
  left:400px; 
  color:#fff;
  background: $bubboli-red;
  z-index:500;
  }

#slideshow-caption .slideshow-caption-container {
  padding:5px 10px;   
  z-index:1000;   
  }

#slideshow-caption h3 {
  margin:0;
  padding-top:10px;
  font-size:18px;
  color: #fff;
  line-height: 105%;
  font-family: QikkiRegRegular
  }

#slideshow-caption p {
  margin:5px 0 0 0;
  padding-top:10px;
  font-size:14px;
  font-weight: bold;
  }
  
.featured_thumbs{  
  width: 90px;  
  height: 250px;  
  overflow: hidden; 
  position: relative;
  float: right; 
  }

.gallery{  
  width: 600px;  
  height: 300px;  
  /*border: 1px solid #F0F0F0;*/
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
	background:#FFF;
  }

  
/*==================================================
 * ROOT SHADOW EFFECTS
 * ===============================================*/
  
.root-shadow-effect {
  position: relative;
  }
  
.root-shadow-effect:before, .root-shadow-effect:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #B8B8B8 ;
  -moz-box-shadow: 0 15px 10px #B8B8B8 ;
  box-shadow: 0 15px 10px #B8B8B8 ;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  }

.root-shadow-effect:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
  }


/*==================================================
 * SPLASH BOX EFFECTS
 * ===============================================*/
   
.splash-box-effect {
 	position:relative;
   -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1) inset;
           box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1) inset;
  }
  
.splash-box-effect:before, .splash-box-effect:after {
	 content:"";
   position:absolute;
   z-index:-1;
   -webkit-box-shadow:0 0 20px rgba(0,0,0,0.9);
   -moz-box-shadow:0 0 20px rgba(0,0,0,0.9);
   box-shadow:0 0 20px rgba(0,0,0,0.9);
   top:50%;
   bottom:0;
   left:10px;
   right:10px;
   -moz-border-radius:100px / 10px;
   border-radius:100px / 10px;
   }

.splash-box-effect:after {
	right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
     -ms-transform:skew(8deg) rotate(3deg);
      -o-transform:skew(8deg) rotate(3deg);
         transform:skew(8deg) rotate(3deg);
   }
   
   
