<div class = "container">

  <div class="btn-group">
    <button class="btn"><%= link_to @child.first_name, relationship_path(@relationship) %></button>
    <button class="btn"><%= link_to "Upload Picture", new_child_child_image_path, :id => "new_child_image", :remote => true %></button>
  </div>
  
  <br>
   
  <div class="photos-collage">
    <% @child_images.each do |f| %>
      <%= link_to image_tag(f.image_url(:thumb)), "#" %>
    <% end %>
  </div>  

</div>