<ul class="socialmedia-overlap pull-right">
  <li><%= link_to facebook, "http://www.facebook.com/bubboli", :target => "_blank" %></li>
  <li><%= link_to twitter, "http://www.twitter.com/bubboli", :target => "_blank" %></li>
  <li><%= link_to pinterest, "http://www.pinterest.com/bubboli/", :target => "_blank" %></li>
  <li><%= link_to rss, "#", :target => "_blank" %></li>
</ul>  
